@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FGF</h1>
    <p> First Gen Fellows also referred as “First Generation College Students” is a program that provides individualized support to students who identify as first in their family to graduate from college.</p>
    <p><a class="btn btn-default" href="http://localhost:49887/Home/About"><b>More about us &raquo;</b></a></p>

</div>

<div class="row">
    <div class="col-md-8">
        <h2>Welcome to FGF</h2>
        <p>
            <img src="https://www.tacoma.uw.edu/sites/default/files/styles/node_gallery_display/public/node_gallery/21462253_1828769150472531_4506642702049719310_n.jpg?itok=gQ8t2r7Q" width="675" height="410">
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Calendarand stuff</p>
        <p>
            Physical Address:
            <br />1900 Commerce Street, MAT 103, Tacoma, WA 98402
            <br /><br />
            Mailing Address:
            <br />1900 Commerce Street, Box 358407, Tacoma, WA 98402
            <br /><br />
            253-692-4734
            <br /><br />
            General Inquiries: firstgen@uw.edu
            <br /><br />
            Have a question that you can't find the answer to?
            <br />Contact us by phone, email or stop by the Center!
            <br /><br />
            Follow us on Social Media!
            <br /><br />
            Follow us on snapchat!
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">More about us &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2></h2>
        <p>
            First Gen Fellows also referred as “First Generation College Students” is a program that provides individualized support to students who identify as first in their family to graduate from college. The program is an initiative lead by students to support the disproportionately small numbers of first-generation college admitted students to graduation.
            <br />
            <br />
            The cohort of students that self-identify into the program benefit from various support programs and services, and extensive campus referral networks.
            <br />
            <br />
            First Gen Fellows seeks to support first generation students successfully transition into college life while cultivating investment and engagement in the University Community. This goal is accomplished through a cohort based program where each student moves from 3 phases – 1. Learning the Language, 2. Empowerment, and 3. Leadership. In each phase students will seek and discover affinities about themselves and their communities.

        </p>
    </div>

    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            <img src="https://www.tendenci.com/media/cached/files/757/400x285AvantGarden-Events-Calendar.png.jpg" width="375" height="210">
        </p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
